# Dependencies
node_modules/

# Build
dist/
build/
.output/

# Environment variables
.env.local

# Logs
.qwb/logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.vercel
